@media only screen and (min-width: 320px) and (max-width: 744px) {
  .container {
      max-width: 87.5%;
    }
    .mobile_heading {

    }
    .text {
      margin-top: 20px;
      font-size: 12px;
      line-height: 15px;
    }
    .flex {
      display: block;
    }
    .heading {
      font-size: 24px;
      margin-top: 30px;
      line-height: 25px;

    }
    .text_size {
      width: 100%;
    }
    .distance {
      margin-left: 0px;
    }
    .video {
      display: none;
    }
    .mobile_video {
      display: block;
    }
    .button {
      width: 100%;
      height: 40px;
      /* margin-top: 10px; */
    }
    .button_distance {
      margin-left: 0px;
      margin-top: 10px;
    }
    .button_text {
      font-size: 12px;
    }
    .subtitle {
      font-size: 20px;
      margin-top: 30px;
    }
    .mobile_authors {
      display: block;
    }
    .short_container {
      display: none;
    }
    .first_button {
      margin-top: 20px;
    }
    .end {
      height: 20px;
    }
    .sign {
      display: none;
    }
    .mobile_sign {
      display: block;
    }
    .short_text {
      width: 100%;
    }
}
@media only screen and (min-width: 744px) and (max-width: 834px) {
  .container {
      max-width: 88.17%;
    }

    .heading {
      margin-top: 40px;
      font-size: 40px;
    }
    .video {
      display: none;
    }
    .mobile_video {
      display: block;
      max-width: 100%;
    }
    .flex {
      display: block;
    }
    .text_size {
      width: 100%;
    }
    .button_text {
      font-size: 16px;
    }
    .text {
      font-size: 16px;
      line-height: 20px;
      margin-top: 15px;
    }
    .subtitle {
      font-size: 26px;
      margin-top: 40px
    }
    .mobile_authors {
      display: block;
    }
    .short_container {
      display: none;
    }

    .button_flex {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      width: 100%;
    }
    .button_distance {
      margin-left: 0px;
    }
    .width_button {
      flex: 1;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0;
      min-width: 0;
    }

    .sign {
      display: none;
    }
    .mobile_sign {
      display: block;
    }
    .short_text {
      width: 100%;
    }
}
@media only screen and (min-width: 834px) and (max-width: 1024px) {
  .container {
      max-width: 86.91%;
    }
    .text_size {
      width: 50%;
    }
    .mobile_heading {

    }
    .heading {
      font-size: 50px;
      position: relative;
      font-size: 50px;
      color: #3C3C3C;
      margin-top: 80px;
    }
    .video {
      margin-top: 30px;
      /* width: 242px;
      height: 248px; */
    }
    .video {
      display: none;
    }
    .mobile_video {
      display: block;
      max-width: 100%;
    }
    .flex {
      display: block;
    }
    .text_size {
      width: 100%;
    }
    .button_flex {
      display: flex;
      /* justify-content: space-between;
      gap: 20px;
      width: 100%; */
    }
    /* .button_distance {
      margin-left: 0px;
    }
    .width_button {
      flex: 1;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0;
      min-width: 0;
    } */
    .mobile_authors {
      display: block;
    }
    .short_container {
      display: none;
    }
    .sign {
      display: none;
    }
    .mobile_sign {
      display: block;
    }
    .short_text {
      width: 100%;
    }

}
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .container {
      max-width: 86.91%;
    }

    .heading {
      font-size: 50px;
      color: #3C3C3C;
      margin-top: 80px;
    }
    .short_text {
      width: 100%;
    }
    .video {
      /* margin-top: 30px; */
      /* width: 80%; */
      /* height: 332px; */
    }
    .button_distance {
      margin-left: 15px;
    }

}
@media only screen and (min-width: 1280px) and (max-width: 1439px) {
  .container {
      max-width: 86.25%;
    }

}
@media all and (min-width: 1440px) and (max-width: 1680px) {
  .container {
      max-width: 87.78%;
    }
    .text_size {
    width: 2000px;
  }
}
@media only screen  and (min-width: 1680px) {
  container {
      max-width: 78.36%;
    }
    .button {
      margin-top: 100px;
    }
}
