@media only screen and (min-width: 320px) and (max-width: 744px) {
  .container {
      max-width: 87.5%;
    }
    .mobile_heading {
        display: block;
        font-family: 'PT Sans Caption';
        font-size: 40px;
        margin: 0px auto;
        max-width: 100%;
        position: relative;
        color: #3C3C3C;
        margin-top: 80px;
    }
    .flex {
      display: block;
    }
    .heading {
        display: none;
    }
    .text_size {
      width: 100%;
    }
    .distance {
      margin-left: 0px;
    }
    .video {
      display: none;
    }
    .mobile_video {
      display: block;
    }
    .button {
      width: 100%;
      height: 40px;
      /* margin-top: 30px; */
    }
    .button_distance {
      margin-left: 0px;
      margin-top: 15px;
    }
}
@media only screen and (min-width: 744px) and (max-width: 834px) {
  .container {
      max-width: 88.17%;
    }
    .mobile_heading {
        display: block;
        font-family: 'PT Sans Caption';
        font-size: 40px;
        margin: 0px auto;
        max-width: 100%;
        position: relative;
        font-family: 'PT Sans Caption';
        color: #3C3C3C;
        margin-top: 80px;
    }
    .heading {
        display: none;
    }
    .video {
      display: none;
    }
    .mobile_video {
      display: block;
      max-width: 100%;
    }
    .flex {
      display: block;
    }
    .text_size {
      width: 100%;
    }
    .button_flex {
      display: flex;
    }

}
@media only screen and (min-width: 834px) and (max-width: 1024px) {
  .container {
      max-width: 86.91%;
    }
    .text_size {
      width: 50%;
    }
    .mobile_heading {
        display: block;
        font-family: 'PT Sans Caption';
        font-size: 50px;
        margin: 0px auto;
        max-width: 100%;
        position: relative;
        font-family: 'PT Sans Caption';
        font-size: 50px;
        color: #3C3C3C;
        margin-top: 80px;
    }
    .heading {
        display: none;
    }
    .short_text {
      width: 92.39%;
    }
    .video {
      margin-top: 30px;
      /* width: 242px;
      height: 248px; */
    }
    .video {
      display: none;
    }
    .mobile_video {
      display: block;
      max-width: 100%;
    }
    .flex {
      display: block;
    }
    .text_size {
      width: 100%;
    }
    .button_flex {
      display: flex;
      /* margin: 0 auto; */
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .container {
      max-width: 86.91%;
    }
    .mobile_heading {
        display: block;
        font-family: 'PT Sans Caption';
        font-size: 50px;
        margin: 0px auto;
        max-width: 100%;
        position: relative;
        font-family: 'PT Sans Caption';
        font-size: 50px;
        color: #3C3C3C;
        margin-top: 80px;
    }
    .heading {
        display: none;
    }
    .short_text {
      width: 92.39%;
    }
    .video {
      margin-top: 30px;
      /* width: 80%; */
      /* height: 332px; */
    }
    .button_distance {
      margin-left: 15px;
    }
}
@media only screen and (min-width: 1280px) and (max-width: 1439px) {
  .container {
      max-width: 86.25%;
    }
}
@media all and (min-width: 1440px) and (max-width: 1680px) {
  .container {
      max-width: 87.78%;
    }
}
@media all and (min-width: 1680px) and (max-width: 1840px) {
  container {
      max-width: 78.36%;
    }
}
@media only screen  and (min-width: 1840px) {

}
